# Preliminary Model Build for Mockup

In [2]:
# Import Warnings and Dependencies
import warnings
warnings.filterwarnings('ignore')
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib
from pathlib import Path
from collections import Counter

In [3]:
# import sklearn functions as needed 2022.11.1 Load then remove
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

### Data to Load

In [4]:
# Load in Data
file_path = Path("..\Data\Model_Data\combined_data.csv") 
# Pulled in cleaned combined_data from SQL database directly
housing_data_df = pd.read_csv(file_path)
housing_data_df

,region_id,region_desc,week,sales_inventory,civilian_labor_force,employment,unemployment,unemployment_rate,med_house_price,rent_index,sales_count
0,394463,"Chicago, IL",3/31/2018,38581,4963614.0,4753730.0,209884.0,4.2,284600,1610.46,9053
1,394463,"Chicago, IL",4/30/2018,42253,4960889.0,4756797.0,204092.0,4.1,294600,1622.52,11208
2,394463,"Chicago, IL",5/31/2018,45757,4959982.0,4759532.0,200450.0,4.0,300600,1634.70,13708
3,394463,"Chicago, IL",6/30/2018,47492,4961285.0,4762416.0,198869.0,4.0,302267,1645.26,15524
4,394463,"Chicago, IL",7/31/2018,48984,4964193.0,4765720.0,198473.0,4.0,301967,1651.54,14358
...,...,...,...,...,...,...,...,...,...,...,...
270,394902,"Nashville, TN",5/31/2022,4590,1138543.0,1107909.0,30634.0,2.7,479967,1860.25,3382
271,394902,"Nashville, TN",6/30/2022,5436,1139523.0,1108733.0,30790.0,2.7,494966,1884.61,3700
272,394902,"Nashville, TN",7/31/2022,6341,1137422.0,1106593.0,30829.0,2.7,498300,1910.61,3041
273,394902,"Nashville, TN",8/31/2022,7106,1134574.0,1103911.0,30663.0,2.7,499633,1923.84,2859
274,394902,"Nashville, TN",9/30/2022,7479,NaN,NaN,NaN,NaN,499283,1923.27,2377

In [5]:
# Check data types
housing_data_df.dtypes

region_id                 int64
region_desc              object
week                     object
sales_inventory           int64
civilian_labor_force    float64
employment              float64
unemployment            float64
unemployment_rate       float64
med_house_price           int64
rent_index              float64
sales_count               int64
dtype: object

In [ ]:
# Need to remove latest data with 9/30/2022 since unemployment wasn't included
#housing_data_df = housing_data_df.loc[(housing_data_df["week"] == "9/30/2022")]
#housing_data_df

In [6]:
housing_data_cleaned = housing_data_df.drop(housing_data_df.index[[54,109,164,219,274]])
housing_data_cleaned.shape

(270, 11)

### Split the Data Into Training and Testing

In [7]:
# Create our features
y = housing_data_df["med_house_price"]
X = housing_data_df.drop(columns=["med_house_price","region_desc","week"]) # TBD based on factors to pull in
X.head(10) #Confirm Out has med_house_price dropped? =Yes

,region_id,sales_inventory,civilian_labor_force,employment,unemployment,unemployment_rate,rent_index,sales_count
0,394463,38581,4963614.0,4753730.0,209884.0,4.2,1610.46,9053
1,394463,42253,4960889.0,4756797.0,204092.0,4.1,1622.52,11208
2,394463,45757,4959982.0,4759532.0,200450.0,4.0,1634.70,13708
3,394463,47492,4961285.0,4762416.0,198869.0,4.0,1645.26,15524
4,394463,48984,4964193.0,4765720.0,198473.0,4.0,1651.54,14358
5,394463,49782,4969483.0,4770051.0,199432.0,4.0,1650.94,13634
6,394463,49630,4976756.0,4775171.0,201585.0,4.1,1643.64,10809
7,394463,48916,4984436.0,4779818.0,204618.0,4.1,1632.04,11088
8,394463,46495,4992719.0,4784079.0,208640.0,4.2,1623.91,9566
9,394463,42304,5000345.0,4787426.0,212919.0,4.3,1618.47,8519

In [8]:
# Import sklearn model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)
# Create the scaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
#Fitting the scaler
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Determine the Model Type
Will need to evaluate the type based on accuracy and balance reports

Naive Random Oversampling

In [9]:
# Resample the training data with the RandomOversampler
# Implement Random Oversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=42)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({327233: 4,
         315929: 4,
         396400: 4,
         357633: 4,
         283333: 4,
         298998: 4,
         302133: 4,
         430000: 4,
         323300: 4,
         301132: 4,
         305800: 4,
         294467: 4,
         354967: 4,
         497667: 4,
         311667: 4,
         384850: 4,
         300833: 4,
         299633: 4,
         333333: 4,
         316583: 4,
         347047: 4,
         306300: 4,
         351633: 4,
         284333: 4,
         351667: 4,
         302467: 4,
         348633: 4,
         363000: 4,
         469560: 4,
         347048: 4,
         498300: 4,
         381267: 4,
         299300: 4,
         499633: 4,
         300600: 4,
         286000: 4,
         358000: 4,
         318000: 4,
         345000: 4,
         307948: 4,
         413423: 4,
         362665: 4,
         327633: 4,
         289316: 4,
         307667: 4,
         332933: 4,
         589667: 4,
         328133: 4,
         294667: 4,
         419817: 4,
         297933: 4,
         304500: 4,
         368078: 4,
         323975: 4,
         288300: 4,
         370717: 4,
         309967: 4,
         352381: 4,
         291267: 4,
         299900: 4,
         304633: 4,
         344833: 4,
         317208: 4,
         335000: 4,
         356330: 4,
         354667: 4,
         308267: 4,
         333267: 4,
         363743: 4,
         311875: 4,
         299600: 4,
         436483: 4,
         321058: 4,
         393417: 4,
         284600: 4,
         334900: 4,
         329900: 4,
         532297: 4,
         505967: 4,
         332667: 4,
         304933: 4,
         296165: 4,
         391400: 4,
         319450: 4,
         284300: 4,
         494966: 4,
         333059: 4,
         301300: 4,
         357997: 4,
         301967: 4,
         296633: 4,
         303267: 4,
         372084: 4,
         399300: 4,
         353329: 4,
         503283: 4,
         323708: 4,
         293132: 4,
         305667: 4,
         308950: 4,
         418000: 4,
         328267: 4,
         299933: 4,
         337933: 4,
         289933: 4,
         296300: 4,
         383400: 4,
         364483: 4,
         313300: 4,
         304967: 4,
         359667: 4,
         284967: 4,
         336600: 4,
         297133: 4,
         313333: 4,
         406632: 4,
         339500: 4,
         287967: 4,
         333300: 4,
         324933: 4,
         323333: 4,
         321300: 4,
         371967: 4,
         484560: 4,
         302267: 4,
         355283: 4,
         320649: 4,
         299333: 4,
         294600: 4,
         320800: 4,
         333617: 4,
         309300: 4,
         396967: 4,
         293166: 4,
         492560: 4,
         296567: 4,
         324000: 4,
         292783: 4,
         362663: 4,
         348333: 4,
         297667: 4,
         317596: 4,
         303966: 4,
         305583: 4,
         323983: 4,
         313596: 4,
         288483: 4,
         301267: 4,
         344650: 4,
         299967: 4,
         302798: 4,
         367600: 4,
         295633: 4,
         458300: 4,
         302333: 4,
         326633: 4,
         322466: 4,
         404964: 4,
         291632: 4,
         317316: 4,
         366333: 4,
         317967: 4,
         327000: 4,
         349666: 4,
         333500: 4,
         364633: 4,
         501317: 4,
         352667: 4,
         556667: 4,
         371751: 4,
         573333: 4,
         314308: 4,
         337967: 4,
         349317: 4,
         284933: 4,
         394333: 4,
         378300: 4,
         369600: 4,
         350000: 4,
         561535: 4,
         294967: 4,
         499283: 4,
         290967: 4,
         356300: 4,
         298966: 4,
         479967: 4})

In [10]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=42)
# Fit the model
classifier.fit(X_resampled,y_resampled)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
# Calculated the balanced accuracy score
y_pred = classifier.predict(X_test_scaled)

from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test,y_pred))

Model 2: SMOTE Oversampling

In [ ]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=42, sampling_strategy='auto').fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

In [ ]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test,y_pred)

In [ ]:
# Display the confusion matrix
confusion_matrix(y_test,y_pred)

In [ ]:

# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

### Additional Tests will be summarized to find the highest accuracy